@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  background-image: url("bg.gif");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  background-color: #4CAF50;
  /*background: radial-gradient(circle at center, rgba(50,50,50,1) 0%,rgba(14,14,14,1) 35%)*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 2000px;
  transform-style: preserve-3d;
}

img {
  max-width: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h2 {
  font-family: "Dancing Script", serif;
  font-weight: normal;
  font-size: 45px;
  color: #009500;
  text-align: center;
}

.wrap {
  width: 500px;
  height: 600px;
  position: relative;
  transform: rotateX(30deg);
  transform-style: preserve-3d;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

.card {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  border: 8px solid #B60003;
  text-align: center;
}
.card--front {
  display: block;
  align-items: center;
  justify-content: center;
  transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card--front.open {
  transform: rotateY(-180deg);
}
.card--front.back {
  z-index: 0;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.card--front.back img {
  max-width: 60%;
  margin-top: 1.5em;
}
.card--inner {
  overflow: hidden;
  padding: 15px;
}
.card--inner h2 {
  font-size: 32px;
}
.card--inner img {
  max-width: 60%;
  margin-top: 1.5em;
}
.card--inner.open:before {
  transform: translateX(-155%);
  opacity: 0.1;
}
.card--inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 1;
  transition: all 1s ease-in-out;
}

button {
  -webkit-appearance: none;
  background: #E53935;
  border: 5px solid #9f1815;
  border-width: 0 0 5px;
  padding: 10px 20px;
  width: 150px;
  text-align: center;
  display: block;
  transform: rotateX(30deg);
  margin-top: 20px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}
button:active {
  border-bottom-width: 2px;
  margin-top: 23px;
  outline: none;
}
button:focus {
  outline: none;
}

.tree {
  position: relative;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  background-color: #0C1E42;
  background-image: radial-gradient(circle at 50% 18%, yellow 3%, transparent 3.5%), linear-gradient(60deg, #7dae41 8%, transparent 8.5%), linear-gradient(-60deg, #79a83f 8%, transparent 8.5%), linear-gradient(60deg, #75a33d 10%, transparent 10.5%), linear-gradient(-60deg, #719d3b 10%, transparent 10.5%), linear-gradient(60deg, #6d9839 12%, transparent 12.5%), linear-gradient(-60deg, #699237 12%, transparent 12.5%), linear-gradient(80deg, #855726 5%, transparent 5.5%), linear-gradient(-80deg, #7f5324 5%, transparent 5.5%);
  background-position: 0 0, 100px 80px, 100px 80px, 100px 111.1111111111px, 100px 111.1111111111px, 100px 142.8571428571px, 100px 142.8571428571px, 100px 160px, 100px 160px;
}
.tree:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-15deg);
  background-image: radial-gradient(circle at 30% 30%, #fff 1.5%, transparent 2.5%), radial-gradient(circle at 80% 70%, #fff 1.5%, transparent 2.5%), radial-gradient(circle at 30% 50%, #fff 1%, transparent 2%), radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
  background-size: 100% 100%, 100% 100%, 50% 100%, 50% 50%;
  background-position: 0 0, 0 0, 0 0, 0 0;
  -webkit-animation: snow 6s linear infinite forwards;
          animation: snow 6s linear infinite forwards;
}
@-webkit-keyframes snow {
  100% {
    background-position: 0px 200px, 0 200px, 0px 200px, 0px 200px;
  }
}
@keyframes snow {
  100% {
    background-position: 0px 200px, 0 200px, 0px 200px, 0px 200px;
  }
}
